@{
    ViewBag.Title = "Admin Login";
}
@{
    Layout = null;
}


<h2>Admin Login</h2>

@using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { id = "loginForm" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Username")
        @Html.TextBox("username", null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Password")
        @Html.Password("password", null, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Login</button>


}

<script>
    $(document).ready(function () {
        // Attach event handler for form submission
        $('#loginForm').submit(function (e) {
            // Perform client-side validation
            var username = $('#username').val();
            var password = $('#password').val();

            if (!username || !password) {
                e.preventDefault(); // Prevent form submission if validation fails

                // Display error message
                $('#validationError').text('Please enter both username and password.');
            }
        });
    });
</script>
