@model ProjectECS.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientPwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientPwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
