@model IEnumerable<ProjectECS.Models.Employee>

@{
    ViewBag.Title = "ClientDetails";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>ClientDetails</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpPwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service.ServiceName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpPwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.ServiceName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpID })
        </td>
    </tr>
}

</table>
